.logo {
    font-family: Raleway, cursive;
    font-family:  Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19px;
}
.page-header{
    border: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
}

.site-nav{
    display: flex;
    margin-left: auto;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link-nav {
   position: relative;
   
   font-weight: 500;
   font-size: 14px;
   line-height: 1,14px;

   display: block;
   padding-top: 32px;
   padding-bottom: 32px;

   color: var(--primari-text-color);
}
.link-nav::after{

    content: '';
 
    position: absolute;
    left: 0;
    bottom: 0;
 
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: var(--accent-color);
 
    opacity: 0;
    transition: opacity 250ms;
 }
 
 .link-nav:hover::after{
     opacity: 1;
 }
 
 .site-nav .link-nav:hover ,
 .site-nav .link-nav:focus {
     color: var(--accent-color) ;
 }
 
 .site-nav a.current {
     color: var(--accent-color);
 }
 .contacts-nav .link {
    display: flex;
    color: var(--text-color);

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-nav .link:hover ,
.contacts-nav .link:focus{
    color: var(--accent-color);
 }
.contacts-nav .link:hover .icon-envelope,
.contacts-nav .link:focus .icon-envelope {
    fill: var(--accent-color);
}

.icon-envelope{

    fill: var(--text-color);
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
}


.contacts-nav {
    display: flex;
    margin-left: auto;
}
.contacts-nav .item + .item{
    margin-left: 50px;
}