@font-face {
    font-family: "Roboto";
    src: url(';');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url(';');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(';');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(';');
    font-style: normal;
    font-weight: 400;
}
